* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.25);
}

body {
  background: #f5f6f7;
  min-width: 400px;
}


body .n-modal-mask {
  background: rgba(0, 0, 0, 0.1);
}


.page-enter-active,
.page-leave-active {
transition: all 0.2s;
}
.page-enter-from {
opacity: 0;
}
.page-leave-to {
opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
transition: all 0.4s;
}

.layout-enter-from,
.layout-leave-to {
filter: grayscale(1);
}


.content-card {
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  animation: fadeIn 0.6s ease-out forwards;
}

.content-card:hover {
  box-shadow: 0 8px 24px rgba(23, 109, 242, 0.1);
}

/*
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
} */