<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.charlie.app.core.modular.set.progress.mapper.ProSetProgressMapper">

    <resultMap id="proSetProgressDataMap" type="io.charlie.app.core.modular.set.progress.entity.ProSetProgressData">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="userAvatar" column="user_avatar"/>

        <collection property="progresses" ofType="io.charlie.app.core.modular.set.progress.entity.ProSetProgress">
            <id property="id" column="progress_id"/>
            <result property="userId" column="progress_user_id"/>
            <result property="problemSetId" column="problem_set_id"/>
            <result property="problemId" column="problem_id"/>
            <result property="problemName" column="problem_title"/>
            <result property="status" column="status"/>
            <result property="extraJson" column="extra_json"/>
            <result property="completed" column="completed"/>
            <result property="completedAt" column="completed_at"/>
        </collection>
    </resultMap>

    <select id="selectProgressDataPage" resultMap="proSetProgressDataMap">
        SELECT
        u.id       as user_id,
        u.nickname as user_name,
        u.avatar   as user_avatar,
        psp.id     as progress_id,
        psp.user_id as progress_user_id,
        psp.problem_set_id,
        psp.problem_id,
        pr.title as problem_title,
        psp.status,
        psp.extra_json,
        psp.completed,
        psp.completed_at,
        psp.deleted,
        psp.create_time,
        psp.create_user,
        psp.update_time,
        psp.update_user
        FROM sys_user u
        LEFT JOIN pro_set_progress psp ON u.id = psp.user_id AND psp.deleted = 0
        LEFT JOIN pro_set_problem pp ON psp.problem_id = pp.problem_id
        LEFT JOIN pro_problem pr ON pr.id = pp.problem_id AND pr.deleted = 0

        <where>
            <if test="param.problemSetId != null and param.problemSetId != ''">
                AND psp.problem_set_id = #{param.problemSetId}
            </if>
            <if test="ew != null and ew.customSqlSegment != null and ew.customSqlSegment != ''">
                AND ${ew.sqlSegment}
            </if>
        </where>

        ORDER BY u.nickname, psp.completed_at DESC
    </select>

</mapper>
